.cardsWrapper {
    display: flex;
    justify-content: space-between;
    margin-left: -5px;
    margin-right: -5px;
    position: relative;
}

.raund {
    text-align: right;
    margin-top: 10px;
}

.wrapper {
    margin-bottom: 0;
}

.clearBtn {
    display: flex;
    position: absolute;
    right: 250px;
    top: 24px;
    transform: rotate(-90deg);
}


